body {
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: 'Roboto Slab', serif;
  font-weight: 300;
  color: #111;
  background: #edeff0;
  background-image: url('svgs/background.svg');
  background-repeat: repeat;
}

#container {
  max-width: 960px;
  background: #fff;
  margin: 0 auto;
  height: 100%; /* new line */
}

p {
  max-width: 350px;
  margin: 35px auto 0;
  line-height: 2em;
  text-align: left;
}

a {
  text-decoration: none;
  color: #39add1;
  font-weight: 700;
  transition: 1s color;
}

a:hover {
  color: #111;
}


header {
  padding-top: 10px;
}

header nav {
  padding-bottom: 50px;
  text-align: left;
}

header nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.icons {
  fill: currentColor;
}

.svg-hw {
  width: 24px;
  margin-bottom: -5px;
  margin-right: 5px;
}

.pawprinttwo {
  display: none;
  
}
.paw {
  color: #f4c6a6;
  transition: 2.5s;
}

.paw:hover {
  color: #000;
}

.h1print {
	display: block;
	text-align: center;
}

.coat-colors {
	display: inline-block;
}

li p {
  margin-top: 0;
  margin-right: 30px;
  text-align: center;
  color: #eaaa7f
}

.sable {
  color: #ba8058;
}

.pawn {
  color: #eaaa7f;
}

.red {
  color: rgb(133, 77, 42);
}

.stone {
  color: rgb(82, 89, 94);
}
 
main {
  padding-top: 50px;
}

main h2 {
  font-size: 28px;
}

footer {
  width: 100%;
  margin-top: 100px;
  padding-bottom: 30px;
  color: #ba8058;
}

@media (min-width: 425px) {
	.pawprinttwo {
    display: block;
    color: #eaaa7f;
    transition: 1s color;
  }

	.h1print {
		display: none;
  }
}